@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}
/* =========== Header ================*/
.mobile-top-header{
  display: none;
  padding: 10px 0;
}
#moblile-menu{
  display: none;
}
.mobile-top-header a{
  color: #000;
  text-decoration: none;
  font-weight: 600;
font-size: 18px;
line-height: 27px;
}
.top-bar-left ul {
  display: flex;
  list-style: none;
  align-items: center;
  padding-left: 0;
}
.top-bar-left ul li {
  padding-right: 10px;
}
.top-bar-left ul li img{
  max-width: 74px;
  max-height: 30px;
}
.top-bar-left ul li svg{
  height: 30px;
  width: 30px;
}
.top-bar-right ul{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: end;
}
.top-bar-right ul li{
  padding-left: 15px;
}
.top-bar-right .searchbox{
  width: 100%;
}
.top-bar-right .search input{
  padding-left: 35px;
  background-color: #F5F5F5;
  border-radius: 0;
}
.top-bar-right .search{
  position: relative;
}
.top-bar-right .search:before{
  content: '';
  background-image: url('./assets/search.png');
  position: absolute;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: auto;
  top: 10px;
  left: 5px;
}
.top-menu{
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 0 0 0;
}
.top-menu ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.top-menu ul li{
  padding: 0 50px;
  position: relative;
}
.top-menu ul li a{
  text-align: center;
  color: black;
  text-decoration: none;
  size: 14px;
  font-weight: 600;
}

.top-menu ul li.active a{
  color: #B2294B;
}
.top-menu ul li.active:after{
  border-bottom: 1px solid #B2294B;
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -18px;
}

/* ========== section scheduled ==============*/

#scheduled{
  background-color: #FAFAFA;
  padding-bottom: 100px !important;
}

#scheduled #pills-tab{
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}
#scheduled .nav-pills .nav-item:nth-child(1){
  border-left: none;
}
#scheduled .nav-pills .nav-item{
  padding: 0 15px;
  position: relative;
}
#scheduled .nav-pills .nav-item{
  border-left: 1px solid #E0E0E0;
}
#scheduled .nav-pills .nav-item span{
  background: #B2294B;
color: #fff;
border-radius: 100px;
padding: 5px 10px;

}
#scheduled .nav-pills .nav-link{
  color: #000;
  font-weight: 600;
font-size: 12px;
line-height: 18px;
}
#scheduled .nav-pills .nav-link.active{
  background: #F0F0F0;
  border-radius: 100px;
}
#scheduled .sort {
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
  padding-left: 0;
}
#scheduled .sort li{
  cursor: pointer;
  margin-right: 15px;
  background-color: #F8F8F8;
  border: 0.5px solid #E0E0E0;
  border-radius: 100px;
  padding: 8px 10px;
  font-weight: 600;
  width: 110px;
  text-align: center;
  line-height: 15px;
font-size: 10px;
}
#scheduled .sort li.active{
  background-color: #EAF9F4;
  color: rgba(33, 155, 111, 1);
}
#scheduled .card{
  border: 0;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px 0;
}
#scheduled .card-header{
  background-color: #fff;
  border: 0;
}
#scheduled .card-header h5{
  font-weight: 600;
font-size: 12px;
line-height: 18px;
}
#scheduled .card-body{
  display: flex;
  border: 0;
}
#scheduled .cover img{
  border-radius: 10px;
  max-width: 96px;
  max-height: 96px;
}
#scheduled .profile ul {
  list-style: none;
  padding-left: 10px;
}
#scheduled .profile ul li{
  font-size: 10px;
  color: #878787;
}
#scheduled .profile label{
  font-weight: 600;
  width: 95px;
  color: #000;
}
#scheduled .card-footer{
  background-color: #fff;
  border: 0;
}
#scheduled .card-footer button{
  border-radius: 100px;
}
#scheduled .button-top button{
  width: 100%;
}
#scheduled .button-top .btn-primary{
  background: #FBF4F6;
  color: #B2294B;
  outline: 0;
  border: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}
#scheduled .button-top .btn-secondary{
  background: #F0F0F0;
  color: #1E1E1E;
  outline: 0;
  border: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}
#scheduled .button-bottom button{
  width: 100%;
}
#scheduled .button-bottom .btn-otline-primary{
  border: 1px solid #D9D9D9;
  border-radius: 100px;
  color: #B2294B;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}
/* Mobile view */
@media (max-width:676px) {
  #scheduled{
    padding-top: 0 !important;
  }
  #scheduled #pills-tab{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    flex-wrap: nowrap;
    
  }
  #scheduled #pills-tab{
    border-radius: 0;
    box-shadow: none;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
  }
  #scheduled .nav-pills .nav-link.active {
    background: #fff;
    border-radius: 0;
    color: #B2294B;
}
  #scheduled .nav-pills .nav-link.active:after{
    border-bottom: 1px solid #B2294B;
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: -10px;
  }
  .top-menu {
    display: none;
  }
  .top-bar{
    display: none;
  }
  .mobile-top-header{
    display: block;
  }
  
  #moblile-menu{
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    box-shadow: 0px -0.5px 1px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  #moblile-menu ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
  }
  #moblile-menu ul li{
    width: 25%;
  }
}